.listing {
  width: 100%;
  background-color: var(--color-white);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 0.33rem solid transparent;
  border-radius: 0.33rem;
}

.featured {
  border-color: var(--color-primary-cyan);
}

.tags {
  height: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
